@import url('reset.css');
@font-face{
    font-family:Merriweather;
    src: url(./Merriweather/Merriweather-BoldItalic.ttf) format("truetype");
}


body{
    display: flex;
    height: 100vh;
    width: 100%;
    padding-top: 30px;
    font-family: Merriweather;
}

.todayDate{
    position: absolute;
    top: 50px;
    left: 450px;
    font-size: 70px;
    color: rgba(0, 0, 0, 0.90);
    
}

.head input[type='button']{
    display: flex;
    all: unset;
    position: relative;
    top: 43px;
    left: 405px;
    width: 400px;
    font-size: 30px;
    cursor: pointer;
}

.head input[type='button']:active{
    transform: scale(0.99);
}

.calendar{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-75%, -40%);
    width: 800px;
    height: 700px;
    text-align: center;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.60);
    table-layout: fixed;
}

.calendar th{
    font-size: 23px;
    color: rgba(0, 0, 0, 0.70);
}


.calendar tbody tr td{
    cursor: pointer;
}

.calendar tbody tr td:hover{
    border-radius: 40px;
    background-color: rgba(255, 244, 93, 0.411);
}

.schedules{
    all: unset;
    width: 300px;
    height: 30px;
    font-size: 15px;
}

.aside{
    position: absolute;
    top: 49%;
    left: 70%;
    transform: translate(-50%, -45%);
    flex-direction: column;

}

.toDoList{
    width: 300px;
    height: 530px;
    border-color: rgba(0, 0, 0, 0.60);
    border-radius: 20px;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.80);
    font-size: 15px;
    border: 1px dashed rgba(0, 0, 0, 0.80);
    padding: 15px 20px;
    line-height: 2.5;
}

#sunday{
    color: #eb4d4b;
}

#saturday{
    color: #0984e3;
}

.paintToday{
    background-color: #fd79a7;
    border-radius: 40px;
    color: white;
}

.bD{
    background-color: tomato;
    border-radius: 40px;
    color: white;

}

.designBtn{
    all: unset;
    padding: 0px 2px;
    font-size: 15px;
    cursor: pointer;
}

.designBtn:active{
    transform: scale(0.95);
}