@import url('reset.css');
@font-face{
    font-family: Do Hyeon;
    src: url(./Do_Hyeon/DoHyeon-Regular.ttf) format("truetype");
}


body{
    display: flex;
    height: 100vh;
    width: 100%;
    padding-top: 30px;
    font-family: Do Hyeon;
}

.todayDate{
    position: absolute;
    top: 50px;
    left: 450px;
    font-size: 70px;
    
}

.head button{
    display: flex;
    all: unset;
    position: relative;
    top: 43px;
    left: 405px;
    width: 400px;
    font-size: 30px;
    cursor: pointer;
}

.head button:active{
    transform: scale(0.99);
}

.calendar{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-75%, -40%);
    width: 800px;
    height: 700px;
    text-align: center;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.60);
}

.calendar th{
    font-size: 23px;
    color: rgba(0, 0, 0, 0.70);
}


.calendar tbody tr td:hover{
    border-radius: 35px;
    background-color: rgba(255, 244, 93, 0.216);
}

.schedules{
    width: 300px;
    height: 30px;
    border: 1px solid black;
}

.aside{
    position: absolute;
    top: 49%;
    left: 70%;
    transform: translate(-50%, -45%);
    flex-direction: column;

}

.toDoList{
    width: 300px;
    height: 530px;
    border: 1px solid black;
    border-radius: 20px;
    margin-bottom: 20px;
}

#sunday{
    color: #eb4d4b;
}

#saturday{
    color: #0984e3;
}